{
  "docs": {
    "description": "{{ laclasse_services.docs.description }}",
    "title": "{{ laclasse_services.docs.title }}",
    "app_id": "{{ laclasse_services.docs.app_id }}",
    "path": "{{ laclasse_services.docs.path }}",
    "version": {
      "asked": {{ laclasse_docs_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
